{
  "openapi": "3.1.0",
  "info": {
    "title": "API for Higher Education Data Integration",
    "description": "## Introduction\nThe objective of the HED-schema is to establish a **service-independent** data model that facilitates seamless integrations between various entities. This ensures that data producers and users can consistently rely on the presence of specific data elements. Specific requirements for studies, courses, information etc. are defined with extension model which is included to main schema in future.\n\n**Note! This API is used between opin.fi and Finnish higher order education organizations to exchange data.However, this definition represents development path of HED-schema.**\n    \n## Versioning policy\nParticipants must provide support for old major versions for transition time.\n\nOver time, **the schema will undergo changes**. This will alter the version information of the schema, and the implementations of the interfaces must indicate which schema version they implement and support.\n\nThe principle of versioning is designed to follow semantic versioning, where the impact of the change is the basis for versioning:\n\n* Major: Backward-incompatible changes that require service updates. These are avoided through structural design of the schema.\n* Minor: New features that are backward-compatible. For example, new fields that are not mandatory.\n* Patch: Bug fixes or changes that do not affect functionality.\n\nThe schema defines a schemaVersion field, where services set the version information of the schema being used. This way, the content receiver knows which version is being used, especially if the interface is not separated by version-specific endpoints, e.g., by the addresses of the interface.\n\nFor Example:\n\n* Major: If there are significant changes in the schema, the major version of the schema changes. Interfaces must be updated according to the new changes, e.g., essential data in the content changes to mandatory. In this case, versioning information can be included in the API endpoint addresses, e.g., /hed/api/v1/get..., /hed/api/v2/get..., etc.\n* Minor: If new optional fields or features are added to the content, this can be a minor change. API interfaces should be prepared for content fields that the API may not recognize.\n* Patch: Descriptive texts of the schema are updated, but the meaning of the fields does not change\n\n## Mandatory technical requirements\n* Authorization and authentication header must be provided,\n* The only data format supported in requests and responses is JSON (not eg. XML).\n* If any implementation is based on draft version of schema, some changes to implementation are expected. There is no currently final first version of this schema. In API implementation, it is  that unknown properties are ignored without causing any errors.\n* String values must be trimmed. For example value: \" Learn daily, grow infinitely!  \" should be trimmed to be \"Learn daily, grow infinitely!\" (space characters removed).\n* API implementations must allow \n\n## Documentation readiness\nFor now, the documents may include experimental or proof-of-concept material, so please approach them with a flexible mindset and avoid scrutinizing every detail too closely. They are intended to provide insights rather than definitive conclusions.\n",
    "contact": {
      "name": "API documentation - Official version is not published yet.",
      "url": "https://wiki.eduuni.fi/display/CSCDIGI2030TUOTEKEHITYS/HEDI-rajapinnan+tekninen+suunnitelma"
    },
    "license": {
      "name": "TODO",
      "url": "https://www.opin.fi/licenses/TODO.html"
    },
    "version": "v1-snapshot"
  },
  "servers": [
    {
      "url": "http://digivisio.local-dev:9109/api/hedi/v1",
      "description": "Local development server directly"
    },
    {
      "url": "https://api-pilotti-dev.opindev.fi/services/hedi/v1",
      "description": "Pilot server"
    }
  ],
  "security": [
    {
      "DigivisioBearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "AssessmentItem",
      "description": "Assessment items defines parts for course completions.\n\nSee the note below: OKSA: 212: The implementation of a course (c1967) requires information about the method of completion but does not name them as values. \nThe M1 glossary assigns the following values to the method of completion: written exam, oral exam, essay, \npractical work(s), thesis/dissertation, project/practical work, internship, portfolio, lecture/learning diary, \nparticipation in teaching, seminar, demonstration test. (Referenced and unofficially translated\nfrom https://iri.suomi.fi/terminology/digivisio_2030/concept-41 )\n"
    },
    {
      "name": "CodeSystem",
      "description": "Many fields in HEDS (the Higher Education Data Schema) use Code System Codes. For example Language, or Field of Study.\nThese Code Systems are hosted and maintained in opin.fi.\nSome of the Code Systems are mirrored from other Code Systems, like OPH Koodisto. This mirroring \nis done manually when necessary in order to have control over changes.\nSome of the Code Systems are HEDS specific.\n"
    },
    {
      "name": "CompletionOption",
      "description": "A Completion Option is an object that defines how a student can fulfill the requirements for a specific study element.\nIt outlines the necessary assessment items, evaluation criteria, and prerequisites needed for course completion.\n"
    },
    {
      "name": "CourseUnit",
      "description": "A specific part of studies that deals with a particular area of expertise, topic, or content, which can be completed separately and has defined scope and objectives.\n(Reference and unofficially translated from https://sanastot.suomi.fi/terminology/oksa/concept/c264 )\n"
    },
    {
      "name": "CourseUnitRealization",
      "description": "A course organized by an educational provider, taking place at a specific time and location.\n(Reference and unofficially translated from https://sanastot.suomi.fi/terminology/oksa/concept/c1967 )\n"
    },
    {
      "name": "EnrolmentTarget",
      "description": "NOT IN USE\n"
    },
    {
      "name": "Enrolment",
      "description": "NOT IN USE   \n"
    },
    {
      "name": "FormalStudyOption",
      "description": "Formal education is degree-oriented education according to the education system. It is organized, context-specific, and implemented as defined in the curriculum (OPS). Formal education offerings include degree programs, open higher education, specialization education, parts of degrees, preparatory education for immigrants, and offerings from international higher education institutions. The most important feature of formal education is the credit point (ECTS) allocation for the studies included\n(Reference and unofficially translated from https://sanastot.suomi.fi/en/terminology/digivisio_2030/concept/concept-12 )\n"
    },
    {
      "name": "FormalStudyOptionInstance",
      "description": "An instance of formal education describes the content of formal education time-based content. \nFor example there is FormalStudyOption like \"Programming basics\".It defines some common details which can be references without knowing course details etc. Maybe courses included are not decided yet completely.\nFor example, the courses may be scheduled for the period from January 1, 2024, to May 1, 2024. The formal study instance includes information for specific time period.\nThere might be a education package with same almost same content but with different learning methods, then that creates another instance and it refers to same Formal Study Option than other one because these two instances shares same basic information.\nAnd if there is same package for next year, it is a new instance because time period is different, but it can refer same FormalStudyOption.\n"
    },
    {
      "name": "FormalStudyOptionBundle",
      "description": "THIS IS EXPERIMENTAL ENDPOINT for concept insertions.\n"
    },
    {
      "name": "InformalStudyOption",
      "description": "Informal study or self-study (Statistics Finland’s definition): “In the Adult Education Survey, self-study is defined as the acquisition of new knowledge or skills that occurs outside of separately organized, formal education (both formal and non-formal). This type of study can be quite informal and can take place alone, with colleagues, or with acquaintances.\nFrom the perspective of higher education institutions, this form of offering includes “resources” produced by the institutions that learners can use independently to support their own learning. In this case, the learner does not register as a student at the institution, and the institution does not assess or grant academic credits to the learner. For example, freely available open learning materials can be offered as part of self-study offerings. Conversely, if the learning material is such that its use requires registration as a student, it is part of formal or non-formal education.      \n(Reference and unofficially translated from https://sanastot.suomi.fi/en/terminology/digivisio_2030/concept/concept-14 )\n"
    },
    {
      "name": "InformalStudyOptionInstance",
      "description": "An instance of informal study option instance describes the content of time-based content, for example Webinars, Seminars, Event.\n\nFor instance, the webinars, events, or seminars may be scheduled for the period from January 1, 2024, to May 1, 2024.\nThe formal study instance includes information for this specific time period.\n\nThere might be an educational package with almost the same content but delivered through different learning methods\n(e.g., live webinars vs. recorded seminars). This creates another instance, and it refers to the same FormalStudyOption as the other one because these two instances share the same basic information.\n\nIf the same package is offered the next year, it is considered a new instance because the time period is different,\nbut it can refer to the same FormalStudyOption.\n"
    },
    {
      "name": "v1_studyoption",
      "description": "Study Options model is common for both Informal and Formal studyoption",
      "x-displayName": "Study Options models"
    },
    {
      "name": "v1_studyoption_formal",
      "description": "Formal Study Options models",
      "x-displayName": "Formal Study Options models"
    },
    {
      "name": "v1_studyoption_informal",
      "description": "Informal Study Option specific objects",
      "x-displayName": "Informal Study Option models"
    },
    {
      "name": "v1_common",
      "description": "Common objects",
      "x-displayName": "Common schema models"
    },
    {
      "name": "v1_info",
      "description": "Schema modes for information purpose",
      "x-displayName": "Information models"
    }
  ],
  "paths": {
    "/assessment-item": {
      "get": {
        "summary": "Get details of a specific assessment item",
        "description": "Retrieve detailed information about a specific assessment item by its ID.",
        "operationId": "get-assessment-item",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AssessmentItemIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "assessment item details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentItem"
                }
              }
            }
          },
          "404": {
            "description": "assessment item not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "AssessmentItem"
        ]
      },
      "post": {
        "summary": "Create a new assessment item",
        "description": "Create a new assessment item in the system.",
        "operationId": "add-assessment-item",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentItem"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "assessment item created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "AssessmentItem"
        ]
      },
      "put": {
        "summary": "Update an existing assessment item",
        "description": "Update the details of an existing assessment item.",
        "operationId": "update-assessment-item",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AssessmentItemIdentifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "assessment item updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "404": {
            "description": "assessment item not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "AssessmentItem"
        ]
      }
    },
    "/assessment-item/batch": {
      "put": {
        "summary": "Add or update a batch of assessment items",
        "description": "Add or update multiple assessment items in the system as a batch.",
        "operationId": "add-or-update-assessment-items",
        "tags": [
          "AssessmentItem"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateAssessmentItemsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All assessment items updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "201": {
            "description": "All assessment items created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Assessment items added or updated with varying statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/assessment-item/list": {
      "get": {
        "summary": "Get a list of assessment items",
        "description": "Retrieve a list of assessment items with optional filtering and pagination.",
        "operationId": "list-assessment-items",
        "parameters": [
          {
            "name": "educational-institution-code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EducationalInstitutionCode"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Page"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of assessment items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssessmentItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "AssessmentItem"
        ]
      }
    },
    "/capability-statement": {
      "get": {
        "summary": "Retrieve API capabilities",
        "description": "Returns supported resources and operations",
        "operationId": "get-capabilities",
        "responses": {
          "200": {
            "description": "Capability statement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityStatement"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "v1_info"
        ]
      }
    },
    "/code-system": {
      "get": {
        "operationId": "get-code-systems",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeSystemList"
                }
              }
            },
            "description": "Ok"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Does not really happen, but the Redocly tool wants at least one `4XX` response in the API spec."
          }
        },
        "summary": "Returns all Code Systems.",
        "description": "Returns all Code Systems in short format, without the actual codes.\n",
        "tags": [
          "CodeSystem"
        ]
      }
    },
    "/code-system/{identifier}": {
      "get": {
        "operationId": "get-code-system",
        "parameters": [
          {
            "name": "identifier",
            "description": "The identifier of the Code System to fetch.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeSystemWithCodes"
                }
              }
            },
            "description": "Ok"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Returns the Code System indicated by the Code System Identifier.",
        "description": "Returns the specified Code System with all codes included.\n",
        "tags": [
          "CodeSystem"
        ]
      }
    },
    "/completion-option": {
      "get": {
        "summary": "Get details of a specific Completion Option",
        "description": "Retrieve detailed information about a specific Completion Option by its ID.",
        "operationId": "get-completion-option",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CompletionOptionIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completion Option details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionOption"
                }
              }
            }
          },
          "404": {
            "description": "Completion Option not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CompletionOption"
        ]
      },
      "post": {
        "summary": "Create a new completion option",
        "description": "Create a new completion option in the system.",
        "operationId": "add-completion-option",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionOption"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "completion option created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionOption"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CompletionOption"
        ]
      },
      "put": {
        "summary": "Update an existing Completion Option",
        "description": "Update the details of an existing Completion Option.",
        "operationId": "update-completion-option",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CompletionOptionIdentifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionOption"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion Option updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionOption"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "404": {
            "description": "Completion Option not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CompletionOption"
        ]
      }
    },
    "/completion-option/list": {
      "get": {
        "summary": "Get a list of completion options",
        "description": "Retrieve a list of completion options with optional filtering and pagination.",
        "operationId": "list-completion-options",
        "parameters": [
          {
            "name": "educational-institution-code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EducationalInstitutionCode"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Page"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of completion options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompletionOption"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CompletionOption"
        ]
      }
    },
    "/course-unit": {
      "get": {
        "summary": "Get details of a specific course unit",
        "description": "Retrieve detailed information about a specific course unit by its ID.",
        "operationId": "get-course-unit",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CourseUnitIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course unit details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseUnit"
                }
              }
            }
          },
          "404": {
            "description": "Course unit not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnit"
        ]
      },
      "post": {
        "summary": "Create a new course unit",
        "description": "Create a new course unit in the system.",
        "operationId": "add-course-unit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseUnit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Course unit created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseUnit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnit"
        ]
      },
      "put": {
        "summary": "Update an existing course unit",
        "description": "Update the details of an existing course unit.",
        "operationId": "update-course-unit",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CourseUnitIdentifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseUnit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Course unit updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseUnit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "404": {
            "description": "Course unit not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnit"
        ]
      }
    },
    "/course-unit/batch": {
      "put": {
        "summary": "Add or update a batch of course units",
        "description": "Creates or updates a batch of course units in the system.",
        "operationId": "add-or-update-course-units",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateCourseUnitsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All course units updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "201": {
            "description": "All course units created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Course units added or updated with varying statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, all entries in batch are invalid."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnit"
        ]
      }
    },
    "/course-unit/list": {
      "get": {
        "summary": "Get a list of course units",
        "description": "Retrieve a list of course units with optional filtering and pagination.",
        "operationId": "list-course-units",
        "parameters": [
          {
            "name": "educational-institution-code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EducationalInstitutionCode"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Page"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of course units",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseUnit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnit"
        ]
      }
    },
    "/course-unit-realization": {
      "get": {
        "summary": "Get details of a specific course unit realization",
        "description": "Retrieve detailed information about a specific course unit realization by its ID.",
        "operationId": "get-course-unit-realization",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CourseUnitRealizationIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course unit realizations details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseUnitRealization"
                }
              }
            }
          },
          "404": {
            "description": "Course unit not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnitRealization"
        ]
      },
      "post": {
        "summary": "Create a new course unit realization",
        "description": "Create a new course unit in the system.",
        "operationId": "add-course-unit-realization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseUnitRealization"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Course unit realization created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseUnitRealization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnitRealization"
        ]
      },
      "put": {
        "summary": "Update an existing course unit realization",
        "description": "Update the details of an existing course unit realization.",
        "operationId": "update-course-unit-realization",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CourseUnitRealizationIdentifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseUnitRealization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Course unit realization updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseUnitRealization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "404": {
            "description": "Course unit realization not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnitRealization"
        ]
      }
    },
    "/course-unit-realization/batch": {
      "put": {
        "summary": "Add or update a batch of course unit realizations",
        "description": "Creates or updates a batch of course unit realizations in the system.",
        "operationId": "add-or-update-course-unit-realizations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateCourseUnitRealizationsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All course unit realizations updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "201": {
            "description": "All course unit realizations created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Course unit realizations added or updated with varying statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, all entries in batch are invalid."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnitRealization"
        ]
      }
    },
    "/course-unit-realization/list": {
      "get": {
        "summary": "Get a list of course units realization",
        "description": "Retrieve a list of course units realization with optional filtering and pagination.",
        "operationId": "list-course-unit-realizations",
        "parameters": [
          {
            "name": "educational-institution-code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EducationalInstitutionCode"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Page"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of course units realizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseUnitRealization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "CourseUnitRealization"
        ]
      }
    },
    "/enrolment": {
      "get": {
        "operationId": "get-enrolments",
        "parameters": [
          {
            "name": "enrolment-target-identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EnrolmentTargetIdentifier"
            }
          },
          {
            "name": "learner-identifier",
            "description": "Returns Enrolments for the given learner.",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LearnerIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnrolmentsResponse"
                }
              }
            },
            "description": "Enrolment"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns Enrolment participants for an Enrolment Target.",
        "tags": [
          "Enrolment"
        ]
      },
      "post": {
        "operationId": "add-enrolment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddEnrolmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddEnrolmentResponse"
                }
              }
            },
            "description": "The Enrolment was created successfully, because there was room, or queueOk was true and the Enrolment was queued."
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Conflict if we did not allow staying in queue but enrolment target was full"
          }
        },
        "summary": "Enrolls a Learner to an Enrolment Target.",
        "description": "Enrolment might not be Accepted yet because it might need payment or manual acceptance.\nThen Enrolment is reserved and the state is Pending.\nConfirmation about the enrolment is sent when status is changed to Accepted.\n\nUser cannot enroll multiple times for the same EnrolmentTarget.\n\nDigivisio specific case: Consent is saved for granting data for the organization.\n\nHEDI organization must call Digivisio corresponding API so Digivisio can track enrolments.\n",
        "tags": [
          "Enrolment"
        ]
      }
    },
    "/enrolment/{identifier}": {
      "delete": {
        "operationId": "cancel-enrolment",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EnrolmentIdentifier"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "description": "The reason for cancellation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Enrolment was cancelled successfully."
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Cancels an Enrolment.",
        "description": "Removes participation from list. If the cancellation frees a new seat, then the first in the queue is picked, and a notification is sent.\nSends notification of the cancellation.\n\nHEDI organization must call Digivisio corresponding API so Digivisio can track enrolments.\n",
        "tags": [
          "Enrolment"
        ]
      }
    },
    "/enrolment-target": {
      "get": {
        "operationId": "get-enrolment-targets",
        "parameters": [
          {
            "name": "educational-institution-code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EducationalInstitutionCode"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnrolmentTargetsResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns Enrolment Targets of an Educational Institution.",
        "description": "HEDI_TODO: TUO-7245: This should be paged.\n",
        "tags": [
          "EnrolmentTarget"
        ]
      },
      "post": {
        "operationId": "add-enrolment-target",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddEnrolmentTargetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddEnrolmentTargetResponse"
                }
              }
            },
            "description": "The Enrolment Target was added successfully."
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Adds a new Enrolment Target.",
        "description": "HEDI_TODO: TUO-7245: describe this.\n",
        "tags": [
          "EnrolmentTarget"
        ]
      }
    },
    "/enrolment-target/{identifier}": {
      "get": {
        "operationId": "get-enrolment-target",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EnrolmentTargetIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnrolmentTargetResponse"
                }
              }
            },
            "description": "Ok"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Returns the specified Enrolment Target.",
        "tags": [
          "EnrolmentTarget"
        ]
      },
      "delete": {
        "operationId": "cancel-enrolment-target",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EnrolmentTargetIdentifier"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "description": "The reason why the cancellation was made.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Enrolment Target was cancelled successfully."
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Cancels an Enrolment Target.",
        "description": "NOTE! We must have rules, when cancelling is allowed.\nUsers must be notified about the change.\n",
        "tags": [
          "EnrolmentTarget"
        ]
      },
      "put": {
        "operationId": "update-enrolment-target",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EnrolmentTargetIdentifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnrolmentTargetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEnrolmentTargetResponse"
                }
              }
            },
            "description": "The Enrolment Target was updated successfully."
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Updates an Enrolment Target.",
        "description": "NOTE! We must have rules, which fields can be modified\nand when it is allowed. Users must be notified about the change.\n",
        "tags": [
          "EnrolmentTarget"
        ]
      }
    },
    "/formal-studyoption": {
      "get": {
        "operationId": "get-formal-studyoption",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FormalStudyOptionIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormalStudyOption"
                }
              }
            },
            "description": "Ok"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Returns the specified Formal Study Option.",
        "description": "Returns the Formal Study Option indicated by the Study Option Identifier.\n",
        "tags": [
          "FormalStudyOption"
        ]
      },
      "post": {
        "operationId": "add-formal-studyoption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFormalStudyOptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFormalStudyOptionResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Adds a Formal Study Option.",
        "description": "StudyOptionIdentifier is specified by the caller. \nEducationalInstitutionCode identifier must match the educational institution identifier part of the StudyOptionIdentifier, \nand the organization of the authenticated sender must have write access to that educational institution.\n",
        "tags": [
          "FormalStudyOption"
        ]
      },
      "put": {
        "operationId": "update-formal-studyoption",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FormalStudyOptionIdentifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormalStudyOptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFormalStudyOptionResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Updates a Formal Study Option.",
        "description": "StudyOptionIdentifier is specified by the caller. \nStudyOptionIdentifier or educationalInstitutionCode cannot be modified.\nEducationalInstitutionCode identifier must match the educational institution identifier part of the StudyOptionIdentifier, \nand the organization of the authenticated sender must have write access to that educational institution.\n",
        "tags": [
          "FormalStudyOption"
        ]
      }
    },
    "/formal-studyoption/list": {
      "get": {
        "operationId": "list-formal-studyoptions",
        "parameters": [
          {
            "name": "educational-institution-code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EducationalInstitutionCode"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Page"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormalStudyOptionsResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns Formal Study Options of an Educational Institution.",
        "description": "Returns a page of Formal Study Options belonging to the indicated Educational Institution.\n",
        "tags": [
          "FormalStudyOption"
        ]
      }
    },
    "/formal-studyoption-bundle": {
      "post": {
        "operationId": "add-formal-studyoption-bundle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFormalStudyOptionBundleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFormalStudyOptionBundleResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Adds a Formal Study Option Bundle.",
        "description": "THIS IS A DRAFT ENDPOINT.\nStudyOptionIdentifier is specified by the caller. \nEducationalInstitutionCode identifier must match the educational institution identifier part of the StudyOptionIdentifier, \nand the organization of the authenticated sender must have write access to that educational institution.\n",
        "tags": [
          "FormalStudyOptionBundle"
        ]
      }
    },
    "/formal-studyoption-instance": {
      "get": {
        "operationId": "get-formal-studyoption-instance",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FormalStudyOptionInstanceIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormalStudyOptionInstance"
                }
              }
            },
            "description": "Ok"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Returns the specified Formal Study Option Instance.",
        "description": "Returns the Formal Study Option Instance indicated by the Study Option Instance Identifier.\n",
        "tags": [
          "FormalStudyOptionInstance"
        ]
      },
      "post": {
        "operationId": "add-formal-studyoption-instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFormalStudyOptionInstanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddFormalStudyOptionInstanceResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Adds a new Formal Study Option Instance.",
        "description": "THIS IS A DRAFT ENDPOINT.\nStudyOptionInstanceIdentifier is specified by the caller. \nEducationalInstitutionCode identifier must match both the educational institution identifier part of the StudyOptionInstanceIdentifier, \nand the organization of the authenticated sender.\n",
        "tags": [
          "FormalStudyOptionInstance"
        ]
      }
    },
    "/formal-studyoption-instance/list": {
      "get": {
        "operationId": "list-formal-studyoption-instances",
        "parameters": [
          {
            "name": "study-option-identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FormalStudyOptionIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormalStudyOptionInstancesResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns Formal Study Option Instances of a Formal Study Option.",
        "description": "The results are not paged.\n",
        "tags": [
          "FormalStudyOptionInstance"
        ]
      }
    },
    "/informal-studyoption": {
      "get": {
        "operationId": "get-informal-studyoption",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InformalStudyOptionIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformalStudyOption"
                }
              }
            },
            "description": "Ok"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Returns the specified Informal Study Option.",
        "description": "Returns the Informal Study Option indicated by the Study Option Identifier.\n",
        "tags": [
          "InformalStudyOption"
        ]
      },
      "post": {
        "operationId": "add-informal-studyoption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInformalStudyOptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddInformalStudyOptionResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Adds an Informal Study Option.",
        "description": "Unsupported states: ARCHIVED and CANCELLED\nStudyOptionIdentifier is specified by the caller. \nEducationalInstitutionCode identifier must match the educational institution identifier part of the StudyOptionIdentifier, \nand the organization of the authenticated sender must have write access to that educational institution.\n",
        "tags": [
          "InformalStudyOption"
        ]
      },
      "put": {
        "operationId": "update-informal-studyoption",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InformalStudyOptionIdentifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInformalStudyOptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInformalStudyOptionResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Updates an Informal Study Option.",
        "description": "Unsupported states: ARCHIVED and CANCELLED\nStudyOptionIdentifier is specified by the caller. \nStudyOptionIdentifier or educationalInstitutionCode cannot be modified.\nEducationalInstitutionCode must match the educational institution code part of the StudyOptionIdentifier, \nand the organization of the authenticated sender must have write access to that educational institution.\n",
        "tags": [
          "InformalStudyOption"
        ]
      }
    },
    "/informal-studyoption/batch": {
      "put": {
        "summary": "Add or update a batch of informal study options",
        "description": "Add or update multiple informal study options in the system as a batch.",
        "operationId": "add-or-update-informal-studyoptions",
        "tags": [
          "InformalStudyOption"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateInformalStudyOptionsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All informal study options updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "201": {
            "description": "All informal study options created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Informal study options added or updated with varying statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/informal-studyoption/list": {
      "get": {
        "operationId": "list-informal-studyoptions",
        "parameters": [
          {
            "name": "educational-institution-code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EducationalInstitutionCode"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Page"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageSize"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInformalStudyOptionsResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns Informal Study Options of an Educational Institution.",
        "description": "Returns a page of Study Options belonging to the indicated Educational Institution.\n",
        "tags": [
          "InformalStudyOption"
        ]
      }
    },
    "/informal-studyoption-instance": {
      "get": {
        "operationId": "get-informal-studyoption-instance",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InformalStudyOptionInstanceIdentifier"
            }
          },
          {
            "name": "include-attachment-contents",
            "description": "Whether to populate file contents in the attachments array.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InformalStudyOptionInstance"
                }
              }
            },
            "description": "Ok"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Returns the specified Informal Study Option Instance.",
        "description": "Returns the Informal Study Option Instance indicated by the Study Option Instance Identifier.\n",
        "tags": [
          "InformalStudyOptionInstance"
        ]
      },
      "post": {
        "operationId": "add-informal-studyoption-instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformalStudyOptionInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddInformalStudyOptionInstanceResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Adds a new Informal Study Option Instance.",
        "description": "Unsupported states: ARCHIVED and CANCELLED\nStudyOptionInstanceIdentifier is specified by the caller. \nEducationalInstitutionCode identifier must match both the educational institution identifier part of the StudyOptionInstanceIdentifier, \nand the organization of the authenticated sender.\n",
        "tags": [
          "InformalStudyOptionInstance"
        ]
      },
      "put": {
        "operationId": "update-informal-studyoption-instance",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InformalStudyOptionInstanceIdentifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InformalStudyOptionInstance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInformalStudyOptionInstanceResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Updates an Informal Study Option Instance.",
        "description": "Unsupported states: ARCHIVED and CANCELLED\nStudyOptionInstanceIdentifier is specified by the caller. \nStudyOptionInstanceIdentifier or educationalInstitutionCode cannot be modified.\nEducationalInstitutionCode identifier must match both the educational institution identifier part of the StudyOptionInstanceIdentifier, \nand the organization of the authenticated sender.\n",
        "tags": [
          "InformalStudyOptionInstance"
        ]
      }
    },
    "/informal-studyoption-instance/batch": {
      "put": {
        "summary": "Add or update a batch of informal study option instances",
        "description": "Add or update multiple informal study option instances in the system as a batch.",
        "operationId": "add-or-update-informal-studyoption-instances",
        "tags": [
          "InformalStudyOptionInstance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateInformalStudyOptionInstancesBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All informal study option instances updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "201": {
            "description": "All informal study option instances created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Informal study option instances added or updated with varying statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOrUpdateBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/informal-studyoption-instance/list": {
      "get": {
        "operationId": "list-informal-studyoption-instances",
        "parameters": [
          {
            "name": "study-option-identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InformalStudyOptionIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInformalStudyOptionInstancesResponse"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns Informal Study Option Instances of an Informal Study Option.",
        "description": "The results are not paged.\n",
        "tags": [
          "InformalStudyOptionInstance"
        ]
      }
    },
    "/informal-studyoption-instance/attachments": {
      "post": {
        "operationId": "add-informal-studyoption-instance-attachment",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InformalStudyOptionInstanceIdentifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentCreationResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Bad Request"
          },
          "413": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Request entity too large"
          },
          "415": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "Unsupported media type"
          }
        },
        "summary": "Adds a file attachment to an Informal Study Option Instance.",
        "description": "Adds a file attachment and returns the UUID of the newly created file attachment.\nMaximum of three attachments are allowed.\nThe maximum size of the attachment is 10 MB, and the supported file types are \n.pdf, .ppt, .pptx, .doc ja .docx.\nOnly Study Option Instances of type Event, Webinar and Seminar can have attachments.\n",
        "tags": [
          "InformalStudyOptionInstance"
        ]
      }
    },
    "/informal-studyoption-instance/attachments/{file-id}": {
      "delete": {
        "operationId": "delete-informal-studyoption-attachment",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InformalStudyOptionInstanceIdentifier"
            }
          },
          {
            "name": "file-id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FileId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The attachment was successfully deleted."
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            },
            "description": "The File or the Study Option Instance was not found."
          }
        },
        "summary": "Deletes a file attachment from an Informal Study Option Instance.",
        "tags": [
          "InformalStudyOptionInstance"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "DigivisioBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "DigivisioAccessToken"
      }
    },
    "schemas": {
      "AssessmentItemIdentifier": {
        "description": "Global Assessment Item Identifier. The identifier starts with opinfi the HEDI prefix including the educational institution identifier (a 5 digit identifier) of the institution owning the assessment item followed by the HEDI resource type \"AssessmentItem\" followed by an identifier unique within the institution. For e.g. hed://01909.opin.fi/AssessmentItem/aitem-12345 NOTE. Special characters may be used with URL-encoding. Max length for identifier is 200 characters.",
        "type": "string",
        "format": "uri",
        "example": "hed://01909.opin.fi/AssessmentItem/aitem-12345",
        "x-tags": [
          "v1_studyoption_formal"
        ]
      },
      "AssessmentItemTypeCode": {
        "description": "Assessment Item type.\nDetails of all valid values defined by the code system can be found from the target environments code-system API (GET <servers.url>/v1/code-system/assessment-item-type):\n    - E.g. Pilot env: https://api-pilotti-dev.opindev.fi/services/hedi/v1/code-system/assessment-item-type\n",
        "type": "string",
        "pattern": "urn:code:assessment-item-type:(\\S{1,60})",
        "example": "urn:code:assessment-item-type:EXAM",
        "x-tags": [
          "v1_studyoption_formal"
        ]
      },
      "LanguageCode": {
        "description": "A Language code URN containing the two letter language code as specified by the koodiArvo field of https://virkailija.opintopolku.fi/koodisto-service/rest/json/kieli/koodi\n",
        "type": "string",
        "pattern": "urn:code:kieli:..",
        "example": "urn:code:kieli:FI",
        "x-tags": [
          "v1_common"
        ]
      },
      "Credit": {
        "description": "Credit amount in ECTS European Credit Transfer and Accumulation System). This value represents the number of credits earned, typically a decimal number.",
        "type": "number",
        "format": "double",
        "example": 5,
        "x-tags": [
          "v1_studyoption_formal"
        ]
      },
      "CreditRange": {
        "description": "Schema for a CreditRange object, representing the minimum and maximum values for a range of credits, along with the type of the range.\nTypically represented in ECTS, the range may vary (e.g., 2-7 credits).\nIf only one value is provided, the range is assumed fixed (e.g., 2-2 credits means 2 credits).\n",
        "required": [
          "min"
        ],
        "type": "object",
        "properties": {
          "min": {
            "$ref": "#/components/schemas/Credit",
            "description": "The minimum number of credits that can be awarded for the completion of the course or program."
          },
          "max": {
            "$ref": "#/components/schemas/Credit",
            "description": "The maximum number of credits that can be awarded for the completion of the course or program."
          }
        },
        "x-tags": [
          "v1_studyoption_formal"
        ]
      },
      "ValidString": {
        "description": "General string schema with common validation rules",
        "type": "string",
        "pattern": "^\\S(?:.*\\S)?$|^$",
        "minLength": 1,
        "maxLength": 50000
      },
      "MarkupWithTranslations": {
        "description": "Localized markdown markup for different languages. TODO Specify supported markdown syntax.",
        "type": "object",
        "required": [
          "translations"
        ],
        "properties": {
          "translations": {
            "type": "array",
            "minItems": 1,
            "items": {
              "description": "Language and corresponding markup.",
              "type": "object",
              "required": [
                "language",
                "markup"
              ],
              "properties": {
                "language": {
                  "$ref": "#/components/schemas/LanguageCode"
                },
                "markup": {
                  "description": "Markup for the language",
                  "$ref": "#/components/schemas/ValidString",
                  "example": "*Hei* vaan!"
                }
              }
            }
          }
        },
        "example": {
          "translations": [
            {
              "language": "urn:code:kieli:FI",
              "markup": "*Hei* vaan!"
            },
            {
              "language": "urn:code:kieli:EN",
              "markup": "**Hello** there!"
            },
            {
              "language": "urn:code:kieli:SV",
              "markup": "_Hej_ där!"
            },
            {
              "language": "urn:code:kieli:DE",
              "markup": "**Hallo!** Wie geht’s?"
            },
            {
              "language": "urn:code:kieli:ES",
              "markup": "¡**Hola** amigo!"
            }
          ]
        },
        "x-tags": [
          "v1_common"
        ]
      },
      "EducationalInstitutionCode": {
        "description": "A URN code containing the five digit identifier of a Finnish educational institute (Oppilaitosnumero).\nThe identifiers are listed at https://koski.opintopolku.fi/koski/dokumentaatio/koodisto/oppilaitosnumero/latest.\nThe value is immutable when used as a property.\n",
        "type": "string",
        "pattern": "urn:code:oppilaitosnumero:(\\d{5})",
        "example": "urn:code:oppilaitosnumero:01909",
        "x-tags": [
          "v1_common"
        ]
      },
      "TextWithTranslations": {
        "type": "object",
        "required": [
          "translations"
        ],
        "properties": {
          "translations": {
            "description": "Localized text entries for multiple languages, including language identifiers and corresponding\ntranslations for consistent meaning.\n",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "language",
                "text"
              ],
              "properties": {
                "language": {
                  "$ref": "#/components/schemas/LanguageCode"
                },
                "text": {
                  "description": "Text for the language.",
                  "$ref": "#/components/schemas/ValidString",
                  "example": "Hei vaan!"
                }
              }
            }
          }
        },
        "example": {
          "translations": [
            {
              "language": "urn:code:kieli:FI",
              "text": "Hei vaan!"
            },
            {
              "language": "urn:code:kieli:EN",
              "text": "Hello there!"
            },
            {
              "language": "urn:code:kieli:SV",
              "text": "Hej där!"
            },
            {
              "language": "urn:code:kieli:DE",
              "text": "Hallo!"
            }
          ]
        },
        "x-tags": [
          "v1_common"
        ]
      },
      "FieldOfStudyCode": {
        "description": "A Classification Code URN containing the 1 or 2 digit code as specified by the koodiArvo field of https://virkailija.opintopolku.fi/koodisto-service/rest/json/okmohjauksenala/koodi\n",
        "type": "string",
        "pattern": "urn:code:okmohjauksenala:[0-9]{1,2}",
        "example": "urn:code:okmohjauksenala:1",
        "x-tags": [
          "v1_common"
        ]
      },
      "AssessmentItem": {
        "description": "Assessment items (arviointikohde) defines parts for course completions.\n",
        "type": "object",
        "required": [
          "assessmentItemType",
          "attainmentLanguages",
          "creditRange",
          "educationalInstitutionCode",
          "externalIdentifier",
          "identifier"
        ],
        "properties": {
          "assessmentItemType": {
            "$ref": "#/components/schemas/AssessmentItemTypeCode"
          },
          "attainmentLanguages": {
            "description": "Specifies the language in which a student completes their academic coursework or requirements.\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageCode"
            }
          },
          "creditRange": {
            "$ref": "#/components/schemas/CreditRange"
          },
          "description": {
            "description": "Description for assessment item.",
            "$ref": "#/components/schemas/MarkupWithTranslations"
          },
          "educationalInstitutionCode": {
            "description": "Responsible organization",
            "$ref": "#/components/schemas/EducationalInstitutionCode"
          },
          "externalIdentifier": {
            "description": "An identifier provided by the organizing institution",
            "type": "string"
          },
          "gradingDescription": {
            "description": "Description of assessment item about grading.",
            "$ref": "#/components/schemas/TextWithTranslations",
            "example": {
              "translations": [
                {
                  "language": "urn:code:kieli:EN",
                  "text": "To achieve a grade of 5, focus on mastering the course material, engaging deeply with the content, and consistently producing high-quality work."
                }
              ]
            }
          },
          "identifier": {
            "$ref": "#/components/schemas/AssessmentItemIdentifier"
          },
          "learningMaterial": {
            "description": "Learning materials for the assessment item",
            "$ref": "#/components/schemas/MarkupWithTranslations"
          },
          "name": {
            "$ref": "#/components/schemas/TextWithTranslations"
          },
          "studyFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldOfStudyCode"
            }
          },
          "studyFormat": {
            "description": "Study format description for assessment item.",
            "$ref": "#/components/schemas/MarkupWithTranslations"
          }
        },
        "x-tags": [
          "v1_studyoption_formal"
        ]
      },
      "AddOrUpdateAssessmentItemsBatchRequest": {
        "description": "Request data to add or update a batch of assessment items.\n",
        "type": "array",
        "minItems": 1,
        "maxItems": 20,
        "items": {
          "$ref": "#/components/schemas/AssessmentItem"
        }
      },
      "HttpStatus": {
        "description": "HTTP status code representation\n",
        "type": "integer",
        "example": 200
      },
      "AddOrUpdateResult": {
        "description": "Result of added or updated resource.\n",
        "type": "object",
        "required": [
          "identifier",
          "status"
        ],
        "properties": {
          "identifier": {
            "type": "string"
          },
          "status": {
            "description": "Represents the status of add or update operation, returns one of the following 200, 201, 400, 424, 500\nStatus 424 occurs in cases when operation is cancelled due to other entity fails in batch operation.\n",
            "$ref": "#/components/schemas/HttpStatus"
          },
          "message": {
            "type": "string"
          }
        },
        "example": {
          "identifier": "hed://01909.opin.fi/CourseUnit/cunit-abcop",
          "status": 200,
          "message": "Always http status 200 and same response despite of context."
        }
      },
      "AddOrUpdateBatchResponse": {
        "description": "Response of batch add or update operation.\n",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOrUpdateResult"
            }
          }
        }
      },
      "Page": {
        "description": "Which page to navigate to. Indexing starts from 0.",
        "type": "integer",
        "format": "int32",
        "default": 0,
        "minimum": 0,
        "example": 0
      },
      "PageSize": {
        "description": "How many results to fetch to a single page.",
        "type": "integer",
        "format": "int32",
        "default": 20,
        "minimum": 1,
        "maximum": 100,
        "example": 20
      },
      "HttpMethods": {
        "description": "A list of supported HTTP methods for the resource.\n",
        "type": "string",
        "enum": [
          "GET",
          "POST",
          "PUT",
          "DELETE"
        ],
        "x-tags": [
          "v1_info"
        ]
      },
      "HttpEndpoint": {
        "description": "Http endpoint containing method and path information\n",
        "type": "object",
        "required": [
          "method",
          "path"
        ],
        "properties": {
          "method": {
            "$ref": "#/components/schemas/HttpMethods"
          },
          "path": {
            "type": "string",
            "description": "The path of the API endpoint.",
            "example": "/api/v1/assessment-items"
          }
        }
      },
      "CapabilityResources": {
        "description": "A list of supported resources for this API implementation.\n",
        "type": "string",
        "enum": [
          "AssessmentItem",
          "CompletionOption",
          "CodeSystem",
          "CourseUnit",
          "CourseUnitRealization",
          "Enrolment",
          "FormalStudyOption",
          "InformalStudyOption",
          "InformalStudyOptionInstance"
        ],
        "x-tags": [
          "v1_info"
        ]
      },
      "CapabilityStatement": {
        "description": "This capability statement provides a capability statement that details the supported \nresources and methods for this API implementation.\n",
        "type": "object",
        "required": [
          "supportedEndpoints",
          "supportedResources"
        ],
        "properties": {
          "supportedEndpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "endpoints",
                "resource"
              ],
              "properties": {
                "endpoints": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HttpEndpoint"
                  },
                  "description": "A list of supported endpoints."
                },
                "resource": {
                  "$ref": "#/components/schemas/CapabilityResources",
                  "description": "The resource type supported by the API."
                }
              }
            }
          },
          "supportedResources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CapabilityResources"
            },
            "example": [
              "CompletionOption",
              "FormalStudyOption",
              "InformalStudyOption"
            ]
          }
        },
        "x-tags": [
          "v1_info"
        ]
      },
      "CodeSystem": {
        "description": "An abridged version of the Code System for listing Code Systems. Does not contain the actual Codes.\n",
        "type": "object",
        "required": [
          "identifier",
          "name"
        ],
        "properties": {
          "identifier": {
            "description": "The identifier is a part of each Code URN in the Code System.",
            "example": "virtalukukausiilmtila",
            "type": "string"
          },
          "description": {
            "description": "A description for finding out the meaning of the Code System.",
            "$ref": "#/components/schemas/TextWithTranslations"
          },
          "name": {
            "description": "A short name used for listing.",
            "$ref": "#/components/schemas/TextWithTranslations"
          }
        },
        "x-tags": [
          "v1_codesystem"
        ]
      },
      "CodeSystemList": {
        "description": "A list of abridged Code Systems without Codes.\n",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CodeSystem"
        },
        "x-tags": [
          "v1_codesystem"
        ]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri-reference",
            "description": "A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-9457, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.\n",
            "default": "about:blank",
            "example": "/some/uri-reference"
          },
          "title": {
            "type": "string",
            "description": "A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.\n",
            "example": "some title for the error situation"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
            "minimum": 100
          },
          "detail": {
            "type": "string",
            "description": "A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.\n",
            "example": "some description for the error situation"
          },
          "instance": {
            "type": "string",
            "format": "uri-reference",
            "description": "A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.\n",
            "example": "/some/uri-reference#specific-occurrence-context"
          },
          "traceId": {
            "type": "string",
            "description": "A request ID that can be used to search for log events related to the problem.\n"
          }
        }
      },
      "CodeSystemCode": {
        "description": "The code urn is wrapped into \"CodeSystemCode\" in order to have it manifest as a typed object in generated clients\ninstead of just a string. Also, fields with code urn values can and should use the same approach, and can\nextend this and override \"example\" and \"pattern\".\n",
        "type": "object",
        "required": [
          "urn"
        ],
        "properties": {
          "urn": {
[...]
